<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <thymeleaf th:replace="header :: header" />
</head>
<body>
<div>
    <h2>New Customer</h2>
    <form th:object="${customer}" th:action="@{/customer/add}" method="post">
        <input th:type ="hidden" th:field="*{id}"/>
        <input th:type ="hidden" th:field="*{version}"/>
        <table>
            <tr>
                <th>First Name:</th>
                <td> <input th:type="text" th:field="*{firstName}"/></td>
                <th>Last Name:</th>
                <td> <input th:type="text" th:field="*{lastName}"/></td>
                <th>Email:</th>
                <td> <input th:type="text" th:field="*{email}" /></td>
                <th>Phone:</th>
                <td> <input th:type="text" th:field="*{phone}" /></td>l
            </tr>
        </table>
        <input th:type="submit"/>
    </form>
</div>
</body>
</html>